<ion-view view-title="Dashboard">
   <div class="container fondo1">
      <div class="row">
  <ion-content class="fondo1">
   
        <h1 class="titulos">Importancia del Agua</h1>

      
      <article>
        <h2 class="titulos">Agua en nuestro Organimso</h2>
        <p>Todos nosotros conocemos la importancia del agua en el organismo. Todas las actividades que una persona hace en su vida cotidiana están de una manera u otra relacionadas con el agua. Sabemos que alrededor del 75% de la tierra es agua en forma de océanos, lagos, ríos, glaciares, etc. Nuestro cuerpo está hecho principalmente de agua, y esta juega un papel muy importante en nuestra salud física.</p>

        <p>Aproximadamente el 85% de nuestro cerebro, el 80% de nuestra sangre y el 70% de nuestros músculos es agua, y cada célula de nuestro cuerpo necesita agua para vivir. Así podemos entender la importancia del agua en el organismo y cómo podemos incluirla en el cuidado del cuerpo. El agua ayuda a eliminar toxinas peligrosas que nuestro cuerpo toma desde el aire, los alimentos y los productos químicos que utilizamos en nuestra piel y cabello.</p>

        <video class=" video-js vjs-16-9 vjs-big-play-centered" data-setup="{}" controls >
        <source src="../video/xdxd.mp4">
      </video>


      <script>
          var reproductor = videojs('fm-video', {
            fluid: true
          });
      </script>

      <iframe src="https://youtu.be/dw2eUuICG4o"></iframe>
      </div>
    </div>

    
      </article>
  </ion-content>
</ion-view>

   
