<ion-view class="fondo"view-title="Dashboard">
  <ion-content class="fondo1 " class="padding">
 <header>
    <h1 class="titulo">importancia del agua</h1>
  </header>

  <main>
    <div class="contenedor">
      <video class=" video-js vjs-16-9 vjs-big-play-centered" data-setup="{}" controls >
        <source src="../video/xdxd.mp4">
      </video>
  <br><br>
      <article>
        <h2>Agua en nuestro organismo</h2>
        <p>Todos nosotros conocemos la importancia del agua en el organismo. Todas las actividades que una persona hace en su vida cotidiana están de una manera u otra relacionadas con el agua. Sabemos que alrededor del 75% de la tierra es agua en forma de océanos, lagos, ríos, glaciares, etc. Nuestro cuerpo está hecho principalmente de agua, y esta juega un papel muy importante en nuestra salud física.</p><br />
  
        <p>Aproximadamente el 85% de nuestro cerebro, el 80% de nuestra sangre y el 70% de nuestros músculos es agua, y cada célula de nuestro cuerpo necesita agua para vivir. Así podemos entender la importancia del agua en el organismo y cómo podemos incluirla en el cuidado del cuerpo. El agua ayuda a eliminar toxinas peligrosas que nuestro cuerpo toma desde el aire, los alimentos y los productos químicos que utilizamos en nuestra piel y cabello.</p>
      </article>
    </div>
  </main>

  <script>
    var reproductor = videojs('fm-video', {
      fluid: true
    });
  </script>
  </ion-content>
</ion-view>

   
