<ion-view  view-title="Chats">
  <ion-content class="fondo">
    <div class="container">
      <div class="row">
        <div class="col ADNT">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria. La función principal de la molécula de ADN es el almacenamiento a largo plazo de información para construir otros componentes de las células, como las proteínas y las moléculas de ARN. Los segmentos de ADN que llevan esta información genética son llamados genes, pero las otras secuencias de ADN tienen propósitos estructurales o toman parte en la regulación del uso de esta información genética.
        Desde el punto de vista químico, el ADN es un polímero de nucleótidos, es decir, un polinucleótido. Cada nucleótido, a su tiempo, está formado por un glúcido (la desoxirribosa), una base nitrogenada (que puede ser adenina→A, timina→T, citosina→C o guanina→G) y un grupo fosfato (derivado del ácido fosfórico). Lo que distingue a un polinucleótido de otro es, entonces, la base nitrogenada, y por ello la secuencia del ADN se especifica nombrando solo la secuencia de sus bases. La disposición secuencial de estas cuatro bases a lo largo de la cadena es la que codifica la información genética, siguiendo el siguiente criterio de complementariedad: A-T y G-C. Esto se debe a que la adenina y la guanina son de mayor tamaño que la timina y la citosina, por lo que este criterio permite cumplir una uniformidad. En los organismos vivos, el ADN se presenta como una doble cadena de nucleótidos, en la que las dos hebras están unidas entre sí por unas conexiones denominadas puentes de hidrógeno
      Para que la información que contiene el ADN pueda ser utilizada por la maquinaria celular, debe copiarse en primer lugar en unos trenes de nucleótidos, más cortos y con unas unidades diferentes, llamados ARN. Las moléculas de ARN se copian exactamente del ADN mediante un proceso denominado transcripción. Una vez procesadas en el núcleo celular, las moléculas de ARN pueden salir al citoplasma para su utilización posterior. La información contenida en el ARN se interpreta usando el código genético, que especifica la secuencia de los aminoácidos de las proteínas, según una correspondencia de un triplete de nucleótidos (codón) para cada aminoácido. Esto es, la información genética (esencialmente: qué proteínas se van a producir en cada momento del ciclo de vida de una célula) se halla codificada en las secuencias de nucleótidos del ADN y debe traducirse para poder funcionar.</div>
        <div class="col"><div class='dna'>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
         <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
         <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
         <div class='protein'>
            <b></b>
            <b></b>
          </div>
          <div class='protein'>
            <b></b>
            <b></b>
          </div>
        </div>
        
          </ion-content>
        </ion-view>
</div>
      </div>
    </div>
   